.form {
  display: flex;
  width: 1047px;
  padding: 8px 12px;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  background: #fff;
  margin-bottom: 20px;
  margin-top: 10px;
}

.label {
  width: 1047px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.form-container {
  width: 1047px;
  padding-left: 40px;
  margin-top: 20px;
}

.option-box {
  display: flex;
  flex-wrap: wrap;
  width: 763px;
}

.checkbox {
  margin-top: 10px;
  margin-right: 40px;
  width: 140px;
}

.table-row {
  margin-bottom: 10px;
}
.option-msg {
  display: inline-block;
  width: 120px;
  margin-left: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
