.form {
  display: flex;
  width: 1044px;
  padding: 8px 12px;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  background: #fff;
  margin-bottom: 10px;
  margin-top: 10px;
}

.label {
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
}

.form-container {
  padding-left: 40px;
  width: 886px;
  margin-top: 20px;
}
