.splash .header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 0 31px;
}

.splash .header-left {
  display: flex;
  align-items: flex-end;
}
.splash .header-right {
  display: flex;
  align-items: center;
}
.splash .btn {
  width: 150px;
  height: 30px;
  border-color: #5f285e;
  text-align: center;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 250px;
  margin-left: 80px;
  margin-right: 80px;
}

.splash .subtitle {
  margin-left: 2px;
  color: #8990ad;
  font-family: Montserrat;
  font-size: 32px;
  font-weight: 700;
}

/* Add or modify the styles for the container and buttons */
.cta-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-left: 40px; /* Adjust the margin based on your design */
}

.homebtn {
  width: 250px;
  height: 20px;
  border-color: #5f285e;
  text-align: center;
  line-height: 30px;
  color: #fff;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 0px;
  margin-left: 80px;
  margin-right: 80px;
  /* Add styles for button size, background color, etc. */
  padding: 60px 30px; /* Adjust padding for the desired size */
  background-color: #5f285e; /* Adjust the background color */
  color: #ffffff; /* Adjust the text color */
  border: none;
  cursor: pointer;
  /* Add any other styles as needed */
}

.subheading h2 {
  margin-top: 200px;
  margin-left: 820px;
  margin-right: 80px;
  font-family: Poppins;
  font-size: 60px; /* Adjust the font size */
  color: #5f285e; /* Adjust the text color */
  /* Add any other styles as needed */
}

/* Add any additional styles for other elements if necessary */

/* 
.splash-pic {
  margin-top: 20px;
  margin-left: 20px;
  width: 30%;
  height: auto;
} */
