#icon {
  width: 82.233px;
  height: 45.69px;
  flex-shrink: 0;
  display: flex;
  margin-left: 31px;
  margin-right: 1806.77px;
}

.container {
  display: flex;
  width: 1200px;
}

#headline {
  color: #8990ad;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 120px;
  margin-right: 1535px;
}

#headblock {
  width: 88px;
  height: 1920px;
  transform: rotate(-90deg);
  flex-shrink: 0;
  fill: #fff;
}

#button {
  width: 88px;
  height: 40px;
  flex-shrink: 0;
  fill: #5f285e;
}

#notice {
  width: 29.784px;
  height: 34.284px;
  flex-shrink: 0;
}

.form {
  display: flex;
  width: 1044px;
  padding: 8px 12px;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #cbd5e1;
  background: #fff;
}

.label {
  width: 162px;
  color: #000;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; /* 100% */
}
